@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@font-face {
  font-family: 'AGaramondPro';
  src: url('./assets/fonts/AGaramondPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('./assets/fonts/AGaramondPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('./assets/fonts/AGaramondPro-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('./assets/fonts/AGaramondPro-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AGaramondPro';
  src: url('./assets/fonts/AGaramondPro-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris';
  src: url('./assets/fonts/GalaxiePolaris-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolarisCondensed';
  src: url('./assets/fonts/GalaxiePolarisCondensed-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GaramondPremrPro';
  src: url('./assets/fonts/GaramondPremrPro-Smbd.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Custom scrollbar styling for all elements */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Firefox scrollbar styling */
* {
  scrollbar-color: #00823e white;
  scrollbar-width: thin;
  scroll-behavior: smooth;

}

